.new-expense {
  background-color: #002c4d;
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    color: white;
    max-width: 95%;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 1px 8px rgba(11, 39, 163, 0.685);
  }
  
  .new-expense button {
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border: none;
    background-color: #0064a1;
    color: white;
    border-radius: 12px;
    margin-right: 1rem;
  }
  
  .new-expense button:hover,
  .new-expense button:active {
    background-color: #00a6ff;
    border: none;
  }
  
  .new-expense button.alternative {
    color: #773b92;
    border-color: transparent;
    background-color: transparent;
  }
  
  .new-expense button.alternative:hover,
  .new-expense button.alternative:active {
    background-color: #ddb3f8;
  }